@use 'variables' as var;

.dashboard {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: [header-start] 55px [header-end main-start] auto [main-end footer-start] 55px [footer-end];

    &.hidden {
        display: none;
    }

    &__header {
        border-bottom: var.$outerBorder;
        padding: 12px;

        font-size: 1.1rem;
        text-transform: uppercase;

        display: flex;
        align-items: center;
        justify-content: space-between;

        nav {
            a {
                color: var.$c-light;
                text-decoration: none;
                padding: 6px;

                transition: all 500ms;

                &:hover {
                    color: var.$c-dark;
                    background-color: var.$c-light;
                }
            }
        }
    }

    &__main {
        section {
            display: none;
            height: 100%;
            width: 100%;
        }

        .active {
            display: block;
        }
    }

    &__footer {
        border-top: var.$outerBorder;
        width: 100%;
        padding: 12px;

        font-size: 1.1rem;
        font-weight: var.$thin;
        text-transform: uppercase;

        display: flex;
        align-items: center;
        justify-content: space-between;

        b {
            font-weight: var.$regular;
        }

        div:nth-child(2) {
            margin-left: 24px;
            text-align: left;
            flex-grow: 2;
        }

        div:last-child {
            text-align: right;
        }
    }
}

.page {
    &__container {
        width: 100%;
        height: 100%;
        padding: 20px;

        //background-color: olive;

        @extend %flex-center;
    }

    &__currentplanet {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        @media (max-width: 375px) {
            width: 90%;
        }

        h3 {
            font-size: 2rem;
            font-weight: var.$regular;
        }

        img {
            width: 100%;
        }

        p {
            font-size: 1rem;
            text-align: center;
        }
    }

    &__solarsystem {
        width: 100%;
        height: 100%;
        @extend %flex-center;

        img {
            width: 100%;
        }
    }

    &__travellog {
        height: 100%;
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
}

.log {
    &__input {
        @extend %flex-center;
        flex-direction: column;
    }

    &__output {
        @extend %flex-center;
        flex-direction: column-reverse;

        overflow: scroll;
    }

    &__text {
        background-color: var.$c-light;
        height: 80%;
        width: 80%;
        padding: 12px;

        color: var.$c-dark;

        margin-bottom: 12px;

        &::placeholder {
            color: var.$c-dark;
        }
    }

    &__button {
        width: 50%;
        height: 40px;
        margin-top: 12px;
        border: var.$innerBorder;

        text-align: center;
        text-transform: uppercase;
        @extend %tracked;

        transition: all 1000ms;

        &:hover, 
        &:focus {
            background-color: var.$c-light;
            color: var.$c-dark;
        }
    }

    &__entry {
        width: 80%;
        display: flex;
        flex-direction: column;

        margin-bottom: 24px;
    }
}

.entry {
    &__timestamp {
        text-decoration: underline;
        text-transform: uppercase;
        margin-bottom: 6px;
    }
}